html {
	background-color: #001621;
	color: #9b9fa2;
	font: 12pt "Terminus", monospace;
}

body {
	text-align: center;
}

img.logo {
	border-width: 1px;
	border-style: solid;
	border-color: #9b9fa2;
}

div.links {
	margin-top: 2em;
	font-size: 95%;
}

a {
	color: #ffffff;
	text-decoration: none;
}



div.pulse {
	margin-top: 3em;
	text-align: center;
}

span#pulse {
	font-size: 400%;
	font-weight: bold;
}

span#subpulse {
	font-size: 200%;
}
